// =============================================================================
// Config >> Form
// =============================================================================

$form-item-height: 32px;
$form-item-line-height: 24px;

$form-item-margin-bottom: .5rem;
$form-item-margin-top: .5rem;
