<footer class="app-footer">
    <div class="container">
        <p class="app-footer__icons">
            <a href="https://twitter.com/wolfiezero" class="app-footer__icon">{{ partial "icon-twitter.html" }}</a>
            <a href="https://instagram.com/wolfiezero" class="app-footer__icon">{{ partial "icon-instagram.html" }}</a>
            <a href="https://github.com/wolfiezero" class="app-footer__icon">{{ partial "icon-github.html" }}</a>
            <a href="https://www.facebook.com/WolfieZero/" class="app-footer__icon">{{ partial "icon-facebook.html" }}</a>
        </p>
        <p class="app-footer__links">
            code on <a href="https://github.com/wolfiezero/wolfiezero.com/" class="app-footer__link">Github</a> -
            hosted on <a href="https://netlify.com/" class="app-footer__link">Netlify</a>
        </p>
        <p class="app-footer__copyright">Copyright Neil Sweeney</p>
        <div class="app-footer__logo">
            {{ partial "logo.html" }}
        </div>
    </div>
</footer>
