{{ define "body-class"}}page-404{{ end }}

{{ define "header" }}
&nbsp;
{{ end }}

{{ define "main" }}
   <div class="hero hero--majority">
        <div class="hero__body">
            <div class="container">
                <h1>Page not found... well, this is embrassing</h1>
                <p>You've gone to a page that isn't here. Probably my fault and I'm terribly sorry.</p>
                {{ partial "navigation.html" }}
            </div>
        </div>
   </div>
{{ end }}

{{ define "footer" }}
&nbsp;
{{ end }}
